body {
  background: url(https://i.pinimg.com/1200x/91/43/61/9143613c87f1b218e5f459310942d9b4.jpg)
    center/cover no-repeat;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.weather-Box {
  border: 3px solid white;
  padding: 50px;
  border-radius: 30px;
  background: azure;
}
